version: 2.1

jobs:
  run_integration_and_smoke_tests:
    docker:
      - image: cimg/rust:1.63.0
        environment:
          TEST_DATABASE_URL: postgresql://sqlant_user:sqlant_pswd@localhost/sqlant_db
      - image: cimg/postgres:14.2
        environment:
            POSTGRES_USER: sqlant_user
            POSTGRES_PASSWORD: sqlant_pswd
            POSTGRES_DB: sqlant_db
    steps:
      - checkout
      - run: sudo apt-get install postgresql-client
      - run: |
          psql \
          -d $TEST_DATABASE_URL \
          -f ./tests/test_db.sql
      - run: CON_STRING=$TEST_DATABASE_URL cargo test
      - run: cargo build --release
      - run: ./target/release/sqlant $TEST_DATABASE_URL
  resource_class: small


workflows:
  default:
    jobs:
      - run_integration_and_smoke_tests
